In [1]:
import pandas as pd

In [2]:
raw_anime = pd.read_csv("MAL-anime.csv")
raw_manga = pd.read_csv("MAL-manga.csv")

In [3]:
print(raw_anime.columns)

Index(['Unnamed: 0', 'Title', 'Rank', 'Type', 'Episodes', 'Aired', 'Members',
       'page_url', 'image_url', 'Score'],
      dtype='object')

In [4]:
print(len(raw_anime))

12774

In [5]:
print(len(raw_manga))

17811

In [6]:
print(raw_anime['Unnamed: 0'].duplicated().sum())

0

In [7]:
print(raw_anime['Unnamed: 0'].isnull().sum())

0

In [8]:
print(raw_anime.head())

   Unnamed: 0                                           Title   Rank     Type  \
0           0                               Net-juu no Susume   1568       TV
1           1  Neon Genesis Evangelion: The End of Evangelion     99    Movie
2           2                                         Templex  11445    Movie
3           3                                        s.CRY.ed   2248       TV
4           4                  Toaru Majutsu no Index-tan III   6679  Special

  Episodes                Aired  Members  \
0       10  Oct 2017 - Dec 2017   450968
1        1  Jul 1997 - Jul 1997   883576
2        1          2015 - 2015      538
3       26  Jul 2001 - Dec 2001    81283
4        2  Dec 2018 - Apr 2019    11370

                                            page_url  \
0  https://myanimelist.net/anime/36038/Net-juu_no...
1  https://myanimelist.net/anime/32/Neon_Genesis_...
2        https://myanimelist.net/anime/40721/Templex
3           https://myanimelist.net/anime/168/sCRYed
4  https://myanimelist.net/anime/39094/Toaru_Maju...

                                           image_url  Score
0  https://cdn.myanimelist.net/r/100x140/images/a...   7.55
1  https://cdn.myanimelist.net/r/100x140/images/a...   8.55
2  https://cdn.myanimelist.net/r/100x140/images/a...   5.29
3  https://cdn.myanimelist.net/r/100x140/images/a...   7.36
4  https://cdn.myanimelist.net/r/100x140/images/a...   6.44

In [9]:
cleaned_anime=raw_anime.drop(['Unnamed: 0', 'page_url', 'image_url'], axis = 1)

In [10]:
print(cleaned_anime)

                                                   Title   Rank     Type  \
0                                      Net-juu no Susume   1568       TV
1         Neon Genesis Evangelion: The End of Evangelion     99    Movie
2                                                Templex  11445    Movie
3                                               s.CRY.ed   2248       TV
4                         Toaru Majutsu no Index-tan III   6679  Special
...                                                  ...    ...      ...
12769                                   Neko no Ongaeshi   1090    Movie
12770                                      Kowasugimasu.  12283      ONA
12771                                        Bloody Date  12661      ONA
12772  Deliver Police: Nishitokyo-shi Deliver Keisats...  11318      ONA
12773                 City Hunter: Goodbye My Sweetheart   1750  Special

      Episodes                Aired  Members  Score
0           10  Oct 2017 - Dec 2017   450968   7.55
1            1  Jul 1997 - Jul 1997   883576   8.55
2            1          2015 - 2015      538   5.29
3           26  Jul 2001 - Dec 2001    81283   7.36
4            2  Dec 2018 - Apr 2019    11370   6.44
...        ...                  ...      ...    ...
12769        1  Jul 2002 - Jul 2002   259386   7.72
12770        1  Mar 2018 - Mar 2018      352   4.80
12771        1  Nov 2006 - Nov 2006     4112   4.21
12772        1  Mar 2021 - Mar 2021      485   5.34
12773        1  Apr 1997 - Apr 1997     7274   7.49

[12774 rows x 7 columns]

In [11]:
cleaned_anime['Score'].isnull().sum()

0

In [12]:
cleaned_anime['Title'].nunique()

12774

In [13]:
print(raw_manga.columns)

Index(['Unnamed: 0', 'Title', 'Rank', 'Type', 'Volumes', 'Published',
       'Members', 'page_url', 'image_url', 'Score'],
      dtype='object')

In [14]:
print(raw_manga['Unnamed: 0'].duplicated().sum())
print(raw_manga['Unnamed: 0'].isnull().sum())

0
0

In [15]:
print(raw_manga.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17811 entries, 0 to 17810
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  17811 non-null  int64
 1   Title       17811 non-null  object
 2   Rank        17811 non-null  int64
 3   Type        17811 non-null  object
 4   Volumes     17811 non-null  object
 5   Published   17811 non-null  object
 6   Members     17811 non-null  int64
 7   page_url    17811 non-null  object
 8   image_url   17811 non-null  object
 9   Score       17811 non-null  float64
dtypes: float64(1), int64(3), object(6)
memory usage: 1.4+ MB
None

In [16]:
cleaned_manga=raw_manga.drop(['Unnamed: 0', 'page_url', 'image_url'], axis = 1)

In [17]:
print(cleaned_manga)

                                                   Title   Rank      Type  \
0                                            City Hunter    460     Manga
1                                          Keijo!!!!!!!!   4532     Manga
2                                                   Rain   1808     Manga
3                                       Hidari no Futari  17377  One-shot
4                                           Odd Girl Out    953    Manhwa
...                                                  ...    ...       ...
17806  Akuyaku Reijou desu ga Kouryaku Taishou no You...  10635     Manga
17807                                             Hakuji   5720     Manga
17808                Maouritsu Chuu-Boss Yousei Academia  15889     Manga
17809                Arakure Ojousama wa Monmon Shiteiru   7569     Manga
17810                           Tensei Ouji wa Daraketai  12899     Manga

      Volumes            Published  Members  Score
0          35  Feb 1985 - Nov 1991    14690   8.16
1          18  Jul 2013 - Apr 2017    12689   7.31
2           ?           Nov 2008 -    12021   7.67
3           ?          2011 - 2011     1010   5.95
4           ?           May 2015 -     4968   7.90
...       ...                  ...      ...    ...
17806       ?           Dec 2020 -     1142   6.85
17807       2  May 2008 - Apr 2010     6103   7.21
17808       3  Sep 2017 - Mar 2019      696   6.38
17809       ?           Nov 2018 -    11257   7.07
17810       3  Jan 2018 - Mar 2020     6203   6.68

[17811 rows x 7 columns]

In [18]:
cleaned_manga['Score'].isnull().sum()

0

In [19]:
cleaned_manga['Title'].nunique()

17099

In [20]:
cleaned_manga['Title'].isnull().sum()

0

In [21]:
cleaned_manga[cleaned_manga['Title'].duplicated() == True].sort_values('Title')

,Title,Rank,Type,Volumes,Published,Members,Score
6147,#DRCL Midnight Children,12590,One-shot,?,Dec 2020 - Dec 2020,1565,6.70
14165,100,13251,Manhwa,?,Oct 2021 - Sep 2022,418,6.65
15364,15: Meisetsu Kougyou Koukou Rugby-bu,7881,Manga,?,2010 - 2010,952,7.04
7407,29-sai Dokushin wa Isekai de Jiyuu ni Ikita......,14031,Light-Novel,10,Jun 2014 - Aug 2018,1017,6.58
17031,86,2187,Manga,?,Feb 2018 -,6767,7.60
...,...,...,...,...,...,...,...
15515,Zettai naru Isolator,3063,Light-Novel,?,Jun 2014 -,2859,7.47
14058,Zettai ni Hatarakitakunai Dungeon Master ga Da...,3732,Light-Novel,17,Apr 2016 - Jun 2022,3110,7.39
3714,"[Rouhou] Ore no Iinazuke ni Natta Jimiko, Ie d...",10659,Manga,?,Jan 2022 -,1580,6.85
17092,½ Prince,887,Light-Novel,9,Oct 2004 - Aug 2005,7247,7.93
1738,●Rec,5096,Doujinshi,1,May 2014 - May 2014,7256,7.26

In [22]:
duplicates = cleaned_manga[cleaned_manga['Title'].duplicated(keep=False)]
print(duplicates[duplicates['Title'].str.contains('100', case=False, na=False)])

      Title   Rank    Type Volumes            Published  Members  Score
6567    100  14360   Manga       1  Apr 2012 - Oct 2012      652   6.55
14165   100  13251  Manhwa       ?  Oct 2021 - Sep 2022      418   6.65

In [23]:
cleaned_manga[cleaned_manga['Title'] == 'Zettai naru Isolator']

,Title,Rank,Type,Volumes,Published,Members,Score
10386,Zettai naru Isolator,9698,Manga,4,Jun 2015 - Jan 2018,2856,6.92
15515,Zettai naru Isolator,3063,Light-Novel,?,Jun 2014 -,2859,7.47

In [24]:
cleaned_manga = cleaned_manga.drop_duplicates(subset=['Title'], keep='first')

In [25]:
cleaned_manga[cleaned_manga['Title'] == '100']

     Title   Rank   Type Volumes            Published  Members  Score
6567   100  14360  Manga       1  Apr 2012 - Oct 2012      652   6.55

In [26]:
cleaned_manga['Title'].duplicated().sum()

0

In [27]:
print(len(cleaned_manga['Title']))

17099

In [28]:
joined_df = pd.merge(cleaned_manga, cleaned_anime, on='Title', how='inner')

# Display the first few rows of the joined DataFrame
print(joined_df.head())

                                           Title  Rank_x Type_x Volumes  \
0                                    City Hunter     460  Manga      35
1                                  Keijo!!!!!!!!    4532  Manga      18
2                            Uchuu Senkan Yamato   12124  Manga       3
3                                     Inuyashiki    2257  Manga      10
4  Tensura Nikki: Tensei shitara Slime Datta Ken    1429  Manga       ?

             Published  Members_x  Score_x  Rank_y Type_y Episodes  \
0  Feb 1985 - Nov 1991      14690     8.16     707     TV       51
1  Jul 2013 - Apr 2017      12689     7.31    4285     TV       12
2  Oct 1974 - Dec 1979       1168     6.74    1423     TV       26
3  Jan 2014 - Jul 2017      57102     7.59    1287     TV       11
4           Apr 2018 -       5315     7.75    1421     TV       12

                 Aired  Members_y  Score_y
0  Apr 1987 - Mar 1988      76751     7.91
1  Oct 2016 - Dec 2016     389224     6.93
2  Oct 1974 - Mar 1975      27358     7.59
3  Oct 2017 - Dec 2017     620537     7.64
4  Apr 2021 - Jun 2021     314128     7.59

In [29]:
print(len(joined_df))

1767